.lt_history{
  padding: 10px;
  font-size: 12px;
}
.lt_history .title{
  color: #666;
  line-height: 30px;
}
.lt_history .title .btn_clear{
  line-height: 30px;
}
.lt_history .content ul{
  border: 1px dashed red;
}
.lt_history .content ul li{
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
}
.lt_history .content li a{
  padding-left:10px; 
}
.lt_history .content  li:last-child{
  border-bottom: none;
}
.lt_history .content li i{
  line-height: 30px;
}